html {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    background-image: url();
    margin: 0; 
    padding: 30px 80px;
}
body {
  overflow-x: hidden;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
p {
    font-size: 1.3em;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 1em;
}

h1 {
    font-size: 2.5em;
    color: #ffffff;
    margin-bottom: 15px;
}
h1:hover {
  color: steelblue ;
  animation: distorsion 0.5s infinite;
}

h2 {
    font-size: 1.8em;
    color: #ffffff;
    margin-top: 1.5em;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5em;
    color: #ffffff;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

li {
    font-size: 1.1em;
    color: #ffffff;
    margin-bottom: 0.5em;
}
section {
  padding: 15px 5px;
}
#banner {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap;
  background: black;
  color: white;
  padding: 20px;
  border-radius: 15px 15px 0px 0px;
  border-color: #ffffff;
  border: 1px solid;
}

#banner img {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  object-fit: cover;
  border: 1px solid white;
  /*animation: distorsion 0.5s infinite;*/
}
#banner img:hover {
  transition: 0.4s ease;
  transform: scale(1.1);
  border: 1px solid gold;
  box-shadow: rgb(29, 31, 31) 0 0 10px, rgb(159, 161, 161) 0 0 15px;
}
#welcome {
    background-color: #222222;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.button {
  background-color: #222222; 
  border: 1px solid #ffffff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 5px;
}

@keyframes distorsion {
  0% {transform: rotate(0deg)}
  25% {transform: rotate(1deg)}
  50% {transform: rotate(-1deg)}
  75% {transform: rotate(0.5deg)}
  100% {transform: rotate(0deg)}
}
@media (max-width: 768px) {
  html {
    padding: 20px;
  }
  body {
    font-size: 14px;
  }
  #banner {
    flex-direction: column;
    text-align: center;
  }
  #banner img {
    margin-bottom: 15px;
    width: 80px;
    height: 80px;
    margin: 10px 0;
  }
  h1 {
    font-size: 1.8em;
  }
  #habilidades {
    flex-direction: column;
    text-align: center;
  }
  #habilidades img {
    margin-top: 20px;
    width: 100px;
  }
  .present {
    flex-direction: column;
    text-align: center;
  }
  .card {
    flex-direction: column;
    text-align: center;
  }
  #links {
    flex-direction: column;
    text-align: center;
  }
  .menu {
    text-align: center;
    justify-content: center;
  }
  input {
    max-width: 75%;
    width: 100%;
  }
}
#p1i, #p2i, #p3i, #p4i {
  width: 300px;
  height: 200px;
  object-fit:cover;
  margin: 10px;
  border: 1px solid white;
  border-radius: 15px;
}
.tecnologias {
  display: flex;
  justify-content: end; 
  align-items: center;
  color: aqua; 
}
.card, .present {
  border: 1px solid white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content:flex-start;
}
.titles {
  border: 2px solid white;
  border-radius: 15px;
  padding: 0px;
  justify-content: center;
  text-align: center;
  background-color: #222222;
}
.card p {
  text-align: left;
  margin-left: 15px;
  margin-bottom: 0;
}
#links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#links div {
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  display: inline-flex;
}
#links div a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}
#links div:hover {
  box-shadow: 0 2px 4px white;
}
#sobremi-img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 10%;
  margin-right: 20px;
  border: 1px solid white;
}
.social-links {
  border: 2px solid white;
  border-radius: 15px;
  padding: 0px;
  justify-content: center;
  text-align: center;
  background-color: #222222;
}
.social-links a {
  text-decoration: none;
  color: white;
  margin: 0px 10px 20px 10px;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
}

.social-links a img.social-icon { 
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 15%;
}
.social-links a:hover {
  color: #0056b3;
  animation: distorsion 0.3s infinite;
  box-shadow: rgb(29, 31, 31) 0 0 10px, rgb(159, 161, 161) 0 0 15px;
}
.contact-form {
  text-align: center;
  padding: 20px;
}
.contact-form label {
  display: block;
  margin: 10px auto;
  font-size: 1.2em;
  color: #ffffff;
}
input, select, textarea {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 30%;
}
.present {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
#habilidades {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.animation {
  position: relative;
  margin-top: 25px;
  width: 200px;
  height: 200px;
}

.animation img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  animation: cambioIcono 16s infinite;
}
.animation img:nth-child(1) {
  animation-delay: 0s;
}

.animation img:nth-child(2) {
  animation-delay: 2s;
}

.animation img:nth-child(3) {
  animation-delay: 4s;
}

.animation img:nth-child(4) {
  animation-delay: 6s;
}
.animation img:nth-child(5) {
  animation-delay: 8s;
}
.animation img:nth-child(6) {
  animation-delay: 10s;
}
.animation img:nth-child(7) {
  animation-delay: 12s;
}
.animation img:nth-child(8) {
  animation-delay: 14s;
}
@keyframes cambioIcono {
  0% { opacity: 0; }
  5% { opacity: 1; }
  12.5% { opacity: 1; }
  17.5% { opacity: 0; }
  100% { opacity: 0; }
}
#footer {
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  color: #666565;
  font-size: small;
}